Body{
	 background: linear-gradient(to bottom,white,DeepSkyBlue) no-repeat center center fixed;
}
.container{
	margin:-8px;
	padding-right: 25px;
    padding-left: 25px;
}

table{
	margin-top:-5%;
}
h4{
	color: navy;
	font-size:3em;
	font-weight: bold;
	font-family:Algerian;
}

p{
	font-size:1.6em;
	font-weight: bold;
	font-family:cursive;
	margin-right:2.5%;
}





