Body{
	 background: linear-gradient(to bottom,white, DeepSkyBlue) no-repeat center center fixed;
	
}
#userpng{
	margin-top: 5%;
	width:100%;
}
#user {	
	margin-top: 5%;
}
#submit{
	margin-left:42%
}
/* Table */

table {
  margin: 18px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  font-size: 16px;

}

thead th {
  background-color:navy;
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: white;
}

th, td {
  font-family: 'Lato', sans-serif;
  padding: 15px;
  width: auto;
  text-align: center;
}
